.env
.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class
.idea/

logs/
storage/
rag/chroma_db/
rag/chroma.sqlite3
rag/chat_history/
chat_history/
agent/tools/chroma_db/
*.sqlite3
*.log
rag/md5.text
md5.txt
